.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 0;
  color: var(--font1-color);
  text-align: center;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2) inset;
  background-color: var(--bg1-color); 
}

.brand {
  color: var(--font2-color);
}
