.container {
  height: 90vh;
}

.image {
  background-image: url("../../public/images/products/ball7.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100%;
  min-height: 100%;
}