.image {
  border-radius: 10px;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0 1rem 1rem;
}

.title1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.category1 {
  font-size: 1rem;
  text-transform: uppercase;
}

.container {
  padding: 0 2rem;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2.5rem 1rem;
  place-items: center;
}